<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesag | {{ name }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="head">
        <img class="logo" src="static/images/logo.png" alt="logo du cesag">
        <nav>
            <ul class="menu">
                <li><a href="{{  url_for('index') }}">Accueil</a></li>
                <li><a href="{{  url_for('about') }}">A propos</a></li>
                <li><a href="{{  url_for('services') }}">Services</a></li>
                <li><a href="{{  url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section>
            <h1>Contactez-nous</h1>
        </section>
        
        <section>
            <form action="{{  url_for('contact') }}" method="POST">
                <label for="fullname">Nom & Prénom </label>
                <input type="text" name="fullname" id="contact_name">
                <label for="email">Email</label>
                <input type="email" name="email" id="contact_email">
                <label for="message">Message</label>
                <input type="text" name="message" id="contact_message">
                <button type="submit">Envoyer</button>
            </form>
        </section>
    </div>

    <footer>
        <div class="footer">
            <span>copyright © Mai 2022, </span> 
            <span> &nbsp; made with ☕ and ❤️ by <strong>Lionelhost</strong></span>
        </div>
    </footer>

</body>
</html>