<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesag | {{ name }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="head">
        <img class="logo" src="static/images/logo.png" alt="logo du cesag">
        <nav>
            <ul class="menu">
                <li><a href="{{  url_for('index') }}">Accueil</a></li>
                <li><a href="{{  url_for('about') }}">A propos</a></li>
                <li><a href="{{  url_for('services') }}">Services</a></li>
                <li><a href="{{  url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <section>
            <h1>Nos services</h1>
        </section>

        <section>
            <h3>Banque</h3>
            <img src="static/images/banque.png" alt="Banque">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Architecto possimus eum esse quod molestiae, nostrum mollitia aliquid aperiam, inventore, officiis sunt?</br> Sunt hic officia corporis praesentium debitis assumenda! Aspernatur, nihil!</p> 

            <h3>Finances</h3>
            <img src="static/images/finance.jpg" alt="Banque">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Architecto possimus eum esse quod molestiae, nostrum mollitia aliquid aperiam, inventore, officiis sunt?</br> Sunt hic officia corporis praesentium debitis assumenda! Aspernatur, nihil!</p>

            <h3>Assurances</h3>
            <img src="static/images/assurance.jpg" alt="Banque">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Architecto possimus eum esse quod molestiae, nostrum mollitia aliquid aperiam, inventore, officiis sunt?</br> Sunt hic officia corporis praesentium debitis assumenda! Aspernatur, nihil!</p>
        </section>
    </div>
    
    <footer>
        <div class="footer">
            <span>copyright © Mai 2022, </span> 
            <span> &nbsp; made with ☕ and ❤️ by <strong>Lionelhost</strong></span>
        </div>
    </footer>
</body>
</html>